<h1>Requests#show</h1>
<p>Find me in app/views/requests/show.html.erb</p>
<p><%=@test%></p>
<p><%=@user_fname%></p>
<p><%=@user_identity%></p>
<p><%=@identity%></p>


<%= link_to "New Event", new_request_path, :class => 'fa fa-edit' %>	    