<!DOCTYPE html>
<html>
  <head>
    <title>Salunaut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
      <% if current_user %>
          <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      <%end%>
  </body>
</html>
